<html><head><meta charset="UTF-8"></head><body><div hidden="" by-vulcanize=""><dom-module id="cart-review-element" assetpath="../../../shared/components/cart-review-element/">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }
  </style>

  <template>

    
    <template is="dom-if" if="[[options.isInSideBar]]">
      <div class="scrim" on-tap="_hideSideBarCart"></div>
      <button class="sidebar-tab" on-tap="_hideSideBarCart">[[ _translate('Hide') ]]</button>
    </template>

    
    <template is="dom-if" if="[[!cartproducts.length]]" restamp="">
      <div class="site-width-container">
        <div class="cart-empty-container">
          <p>[[ _translate('Your cart is currently empty') ]]</p>
          <a class="core-block-cta core-block-cta-lg cta-full-width" href="/">[[ _translate('Start Shopping') ]]</a>
        </div>
      </div>
    </template>
    

    

    <div class="site-width-container no-padding">
      <div class="cart-review-wrapper">

        <template is="dom-if" if="[[cartproducts.length]]">

          
          <template is="dom-if" if="[[options.title]]">
            <header class="cart-header">
              <h1>[[ _translate(options.title) ]] <span>([[cartproducts.length]] [[ _translate('Items') ]])</span></h1>
              <template is="dom-if" if="[[!isMobile]]">
                <div class="cta-container">
                  <a href="/checkout" class="core-block-cta cta-full-width core-block-cta-secondary">[[ _translate('Checkout Now') ]]<span>[[ _totalCost(cartreview.invoice_app) ]] [[ ctx.currency ]]</span><paper-ripple></paper-ripple></a>
                </div>
              </template>
              <template is="dom-if" if="[[ isMobile ]]">
                  <template is="dom-if" if="[[!showChangeCity]]">
                    <p class="link-button-container">
                      <span>[[ _translate('Shipping To') ]]:</span>
                      <span> [[ _getCityLabel(cartCity) ]] </span>
                      <button class="link-button" on-tap="_changeCity">[[ _translate('Change City') ]]</button>
                    </p>
                  </template>
                  <template is="dom-if" if="[[showChangeCity]]">
                    <form class="select-city-form">
                      <div class="input-field">
                        <label>[[ _translate('City') ]]</label>
                        <div class="input-container">
                          <input-suggest-element suggest-name="city" data-list="[[ citiesList ]]" data-selected="{{ cartCity }}" view-value="{{ selectedCityValue }}"></input-suggest-element>
                        </div>
                      </div>
                    </form>
                  </template>
              </template>
            </header>
          </template>
          

          <messaging-element messages="[[messages]]" hidden$="[[!messages.length]]"></messaging-element>

          
          
          

          
          <ul class="cart-products">
            <template is="dom-repeat" items="[[cartproducts]]" as="item">
              <li class="cart-product">

                
                <button class="cart-product-remove" on-tap="_removeItem" data-sku$="[[item.selectedSimple.selectedSupplier.sku]]" i$="[[ index ]]"><i class="wadicon-delete"></i><span>[[_translate('Remove From Cart')]]</span></button>

                
                <a class="image-container" href="/[[ item.link ]]">
                  <img src$="[[ _getProductImage(item.maxImages, item.imageKey) ]]" alt$="[[ item.name ]]" on-load="_productImageLoaded">
                  <div class="core-product-image-preloader"><i class="wadicon-spinner wadicon-spin"></i></div>
                  <template is="dom-if" if="[[item.selectedSimple.selectedSupplier.specialPrice]]" restamp="">
                    <p class="discount-tag">[[ _perc(item.selectedSimple.selectedSupplier.price, item.selectedSimple.selectedSupplier.specialPrice) ]]% [[ _translate('off') ]]</p>
                  </template>
                </a>

                <div class="details-container">
                  
                  <div class="core-info-container">
                    
                    <template is="dom-if" if="[[_isElectronics(item)]]">
                      <p class="item-name" itemprop="name">
                        <span class="title clamp"> [[ item.name_desc.brand ]] [[ item.name_desc.name ]]</span>
                        <span class="subtitle clamp">[[ item.name_desc.subtitle ]]</span>
                      </p>
                    </template>
                    
                    <template is="dom-if" if="[[!_isElectronics(item)]]">
                      <p class="item-name" itemprop="name">
                        [[ item.name_desc.brand ]]
                        <span class="subtitle">
                          <span>[[ item.name_desc.name ]]</span>
                          <template is="dom-if" if="[[item.name_desc.subtitle]]">
                            <span>[[ item.name_desc.subtitle ]]</span>
                          </template>
                        </span>
                      </p>
                    </template>
                    <template is="dom-if" if="[[options.isInCheckoutReview]]">
                      <p class="delivery-estimate">
                        [[ _getDeliveryPromise(item.selectedSimple.selectedSupplier.delivery_info, showChangeCity) ]]
                      </p>
                      <template is="dom-if" if="[[ item.selectedSimple.selectedSupplier.is_express ]]">
                        <div class="wadi-express-container">
                            <p class="wadicon-express">
                              [[ _translate('Express')]]
                            </p>
                        </div>
                      </template>
                    </template>
                    <p class="item-size">[[_translate('Size')]]: <span>[[ item.selectedSimple.size ]]</span></p>
                    
                    <template is="dom-if" if="[[!isMobile]]">
                      <div class="support-info-container">
                        <template is="dom-if" if="[[item.gift_wrap]]" restamp="">
                          <p class="gift-wrap">[[ _translate('Gift wrap available') ]]</p>
                        </template>
                        <p class="delivery-estimate">
                          [[ _getDeliveryPromise(item.selectedSimple.selectedSupplier.delivery_info, showChangeCity) ]]
                        </p>
                        <template is="dom-if" if="[[ item.selectedSimple.selectedSupplier.is_express ]]">
                            <div class="wadi-express-container">
                                <p class="wadicon-express">
                                  [[ _translate('Express')]]
                                </p>
                              </div>
                        </template>
                        <template is="dom-if" if="[[item.non_returnable]]" restamp="">
                          <p class="product-warning">[[ _translate('This item cannot be exchanged or returned') ]]</p>
                        </template>
                      </div>
                    </template>
                  </div>
                  
                  
                  
                  <div class="price-quantity-wrap">
                    <div class="price-check">
                      <template is="dom-if" if="[[item.selectedSimple.selectedSupplier.specialPrice]]" restamp="">
                        <p class="core-product-price cart-price">
                          <span class="pre-reduction">[[ item.selectedSimple.selectedSupplier.price ]] [[ ctx.currency ]]</span>
                          <span class="selling-price">[[ item.selectedSimple.selectedSupplier.specialPrice ]] [[ ctx.currency ]]</span>
                          <span class="discount-tag"> [[_translate('Save')]]&nbsp;[[ _minus(item.selectedSimple.selectedSupplier.price, item.selectedSimple.selectedSupplier.specialPrice) ]]&nbsp;[[ ctx.currency ]]&nbsp;([[ _perc(item.selectedSimple.selectedSupplier.price, item.selectedSimple.selectedSupplier.specialPrice) ]]%)</span>
                          <span class="tax-info">[[ item.selectedSimple.selectedSupplier.tax_info ]]</span>
                        </p>
                      </template>
                      
                      
                      <template is="dom-if" if="[[!item.selectedSimple.selectedSupplier.specialPrice]]" restamp="">
                        <p class="core-product-price cart-price">
                          <span class="selling-price">[[ item.selectedSimple.selectedSupplier.price ]] [[ ctx.currency ]]</span>
                          <span class="tax-info">[[ item.selectedSimple.selectedSupplier.tax_info ]]</span>
                          
                        </p>
                      </template>
                    </div>

                    
                    <item-quantity-element sku="[[ item.selectedSimple.selectedSupplier.sku ]]" selected-quantity="[[ _selectedQuantity(item.selectedSimple.selectedSupplier.sku) ]]" quantity-options="[[item.quantityOptions]]" product-details="[[ item ]]" show-drop-down="[[ !ctx.groceryApp ]]"></item-quantity-element>
                  </div>    
                </div>

                
                <template is="dom-if" if="[[isMobile]]">
                  <div class="support-info-container">
                    <template is="dom-if" if="[[item.gift_wrap]]" restamp="">
                      <template is="dom-if" if="[[!options.isInCheckoutReview]]">
                        <p class="gift-wrap">[[ _translate('Gift wrap available') ]]</p>
                      </template>
                    </template>
                    <p class="delivery-estimate">
                      [[ _getDeliveryPromise(item.selectedSimple.selectedSupplier.delivery_info, showChangeCity) ]]
                    </p>
                    <template is="dom-if" if="[[ item.selectedSimple.selectedSupplier.is_express ]]">
                      <div class="wadi-express-container">
                        <p class="wadicon-express">
                          [[ _translate('Express')]]
                        </p>
                      </div>
                    </template>
                    <template is="dom-if" if="[[item.non_returnable]]" restamp="">
                      <p class="product-warning">[[ _translate('This item cannot be exchanged or returned') ]]</p>
                    </template>
                  </div>
                </template>

              </li>
            </template>
          </ul>
          
        </template>

        <template is="dom-if" if="[[ oositems.length ]]">
            <ul class="cart-products oos-items">
              <li class="title">[[ _translate('_cartOOSItemMessage') ]]</li>
              <template is="dom-repeat" items="[[ oositems ]]" as="oos">
                <li class="cart-product">
                  <a class="image-container" href$="[[ oos.data.link ]]">
                    <img src$="[[ _getProductImage(oos.data.maxImages, oos.data.imageKey) ]]" alt$="[[ oos.data.name ]]">
                  </a>
                  <template is="dom-if" if="[[_isElectronics(oos)]]">
                    <p class="item-name" itemprop="name">
                      [[ oos.data.name_desc.brand ]] [[ oos.data.name_desc.name ]]
                      <span class="subtitle">[[ oos.data.name_desc.subtitle ]]</span>
                    </p>
                  </template>
                  
                  <template is="dom-if" if="[[!_isElectronics(oos)]]">
                    <p class="item-name" itemprop="name">
                      [[ oos.data.name_desc.brand ]]
                      <span class="subtitle">
                        <span>[[ oos.data.name_desc.name ]]</span>
                        <template is="dom-if" if="[[oos.data.name_desc.subtitle]]">
                          <span>[[ oos.data.name_desc.subtitle ]]</span>
                        </template>
                      </span>
                    </p>
                  </template>
                  
                </li>
              </template>
            </ul>
        </template>

        <template is="dom-if" if="[[cartproducts.length]]">

          
          <template is="dom-if" if="[[isMobile]]">
            <template is="dom-if" if="[[!options.isInCheckoutReview]]">
              
              <div class="checkout-info-wrapper">
                <div class="checkout-info-container">
                  <p>[[_translate('Payment Methods')]]:</p>
                  <ul class$="payment-methods [[ ctx.country ]]">
                    <li class="visacheckout">Visa Checkout</li>
                    <li class="visa">Visa</li>
                    <li class="mastercard">Mastercard</li>
                    <li class="cod">Cash On Delivery</li>
                  </ul>
                </div>
                <div class="checkout-info-container">
                  <p>[[_translate('Full Security')]]:</p>
                  <ul class="checkout-certification">
                    <li class="visa">Verified by Visa</li>
                    <li class="mastercard">Mastercard Securecode</li>
                    <li class="trustwave">Trustwave</li>
                  </ul>
                </div>
              </div>
            </template>
          </template>
          

          
          <template is="dom-if" if="[[ options.isShowOverview ]]" restamp="">
            <div class="cart-overview-container">
              <template is="dom-if" if="[[ options.changeCityRequired ]]">
                <template is="dom-if" if="[[ !isMobile ]]">
                  <template is="dom-if" if="[[!showChangeCity]]">
                    <p class="link-button-container">
                      <span>[[ _translate('Shipping To') ]]:</span>
                      <span> [[ _getCityLabel(cartCity) ]] </span>
                      <button class="link-button" on-tap="_changeCity">[[ _translate('Change City') ]]</button>
                    </p>
                  </template>
                  <template is="dom-if" if="[[showChangeCity]]">
                    <form class="select-city-form">
                      <div class="input-field">
                        <label>[[ _translate('City') ]]</label>
                        <div class="input-container">
                          <input-suggest-element suggest-name="city" data-list="[[ citiesList ]]" data-selected="{{ cartCity }}" view-value="{{ selectedCityValue }}"></input-suggest-element>
                        </div>
                      </div>
                    </form>
                  </template>
                </template>
              </template>

              
              <div class="cart-invoice-container">
                <template is="dom-if" if="[[isMobile]]" restamp="">
                  <a class="cart-invoice-trigger" collapse="#subtotalsCollapse" on-click="_toggle">[[ _translate('View Subtotals') ]] </a>
                </template>
                <iron-collapse id="subtotalsCollapse" opened="[[!isMobile]]">
                  
                  <ul class="cart-invoice">
                    <template is="dom-repeat" items="[[cartreview.invoice_app]]" as="invoice">
                      <template is="dom-if" if="[[_invoiceHandler(invoice.type, invoice.value)]]">
                        <li class$="[[invoice.type]]">
                          <span class="heading">[[ invoice.label ]]:</span>
                          <template is="dom-if" if="[[_shippingIsFree(invoice.type, invoice.value)]]" restamp="">
                            <span class="value free">[[ _translate('Free') ]]</span>
                          </template>
                          <template is="dom-if" if="[[!_shippingIsFree(invoice.type, invoice.value)]]" restamp="">
                            <span class="value">
                              <template is="dom-if" if="[[ _isDiscount(invoice.type) ]]">- </template>
                              [[ _divide(invoice.value, 100) ]] [[ ctx.currency ]]
                            </span>
                          </template>
                        </li>
                      </template>
                    </template>
                  </ul>

                  
                  
                  

                </iron-collapse>
              </div>
              

              
              <div class="cta-container">
                
                <template is="dom-if" if="[[!options.isInCheckoutReview]]">
                  <a href="/checkout" on-click="_checkoutNow" class="core-block-cta core-block-cta-lg core-block-cta-secondary cta-full-width button-theme">[[ _translate('Secure Checkout') ]]<span>[[ _totalCost(cartreview.invoice_app) ]] [[ ctx.currency ]]</span><paper-ripple></paper-ripple></a>
                </template>
              </div>

              
              <template is="dom-if" if="[[!options.isInCheckoutReview]]">
                <template is="dom-if" if="[[!options.isInSideBar]]">
                  <template is="dom-if" if="[[!isMobile]]">
                    
                    <div class="checkout-info-wrapper">
                      <div class="checkout-info-container">
                        <p>[[_translate('Payment Methods')]]:</p>
                        <ul class$="payment-methods [[ ctx.country ]]">
                          <li class="visacheckout">Visa Checkout</li>
                          <li class="visa">Visa</li>
                          <li class="mastercard">Mastercard</li>
                          <li class="cod">Cash On Delivery</li>
                        </ul>
                      </div>
                      <div class="checkout-info-container">
                        <p>[[_translate('Full Security')]]:</p>
                        <ul class="checkout-certification">
                          <li class="visa">Verified by Visa</li>
                          <li class="mastercard">Mastercard Securecode</li>
                          <li class="trustwave">Trustwave</li>
                        </ul>
                      </div>
                    </div>
                  </template>
                </template>
              </template>
              

            </div>
          </template>
          
        </template>

      </div>
    </div> 

    

  </template>


</dom-module>

<script>

  Polymer({

    is: 'cart-review-element',

    properties: {
      cartproducts: {
        type: Object,
        notify: true,
        value: function () {
          return [];
        },
        observer: '_cartproductsChanged'
      },

      cartreview: {
        type: Object,
        observer: '_cartreviewChanged'
      },

      oositems: {
        type: Object,
        observer: '_oosItemsChanged'
      },

      options: {
        type: Object,
        value: {
          title: {
            type: String,
            value: 'My Cart'
          },
          isShowOverview: {
            type: Boolean,
            value: true
          },
          isShowCoupon: {
            type: Boolean,
            value: true
          },
          isInCheckoutReview: {
            type: Boolean,
            value: false
          },
          changeCityRequired: {
            type: Boolean,
            value: false
          }
        }
      },

      /**
       * app context
       */
      ctx: {
        type: Object
      },

      cartCity: {
        type: String,
        value:'',
        observer: '_citiesObserver'
      },

      citiesList: {
        type: Array,
        value: []
      },

      showChangeCity: {
        type: Boolean,
        value: false
      },

      cityLabel: {
        type: String,
        value: ''
      },

      selectedCityValue: {
        type: String,
        value: ''
      }
    },

    attached: function () {
      this.options.isShowOverview = this.options.isShowOverview === undefined ? true : this.options.isShowOverview;
      this.options.isShowCoupon = this.options.isShowCoupon === undefined ? true : this.options.isShowCoupon;
      this.options.isInCheckoutReview = this.options.isInCheckoutReview === undefined ? false : this.options.isInCheckoutReview;
      this.options.isInSideBar = this.options.isInSideBar === undefined ? false : this.options.isInSideBar;
      this.isMobile = window.config.device === 'mobile' ? true : false;

      // DUMMY UNTIL CONFIGURED IN API
      this.freeShippingMinSpend = 1000;
      this._freeShippingDifference();

      var _self = this;
      window.addEventListener('hide-blanket', function () { _self._hideSideBarCart() });
    },

    _oosItemsChanged: function (val) { },

    _cartreviewChanged: function (val) {
      if (val) {
        this.set('cartTotal', val.invoice_app[val.invoice_app.length -1].value / 100);
        if (Object.keys(val.items).length < 1) {
          this._hideSideBarCart();
        }
      }
    },

    _hideSideBarCart: function () {
      this.classList.remove('showing');
      var blanket = document.querySelector('#addcardbg');
      if (blanket) {
        blanket.classList.remove('active');
      }
    },

    _isElectronics: function(item) {
      return item.data && item.attributes && item.attributes.attribute_set === 'electronics' ? true : false;
    },

    _cartproductsChanged: function (val) {
      // CARINE CAN YOU SORT THIS ON MOBILE PLEASE
      // if (val && val.length > 0 && this.options.isInCheckoutReview) {
      //   setTimeout(function () {
      //     var ellipsis = Ellipsis();
      //   }, 0);
      // }
      if (val && val.length > 0) {
        this._freeShippingDifference();
      }
    },

    _getProductImage: function (numImages, key) {
      return (numImages && numImages > 0) ? 'https://' + this.ctx.cdn + '/product/' + key + '/1-catalog.jpg' : '/dist/images/product-default-catalog-' + this.ctx.lang + '.png';
    },

    _updateQuantity: function(e) {
      var el = e.target.parentNode; // Chrome, Webkit
      var index = el.getAttribute('i') || e.target.getAttribute('i');
      this.fire('update-quantity', {
        item: {
          sku: el.getAttribute('data-sku') || e.target.getAttribute('data-sku'),
          vendor: this.cartproducts[index] && this.cartproducts[index].selectedSimple.selectedSupplier.vendor_code
        },
        product: this.cartproducts[index],
        quantity: e.target.value
      });
    },

    _checkoutNow: function () {
      // this.fire('checkout-now');
    },

    json: function (data) {
      return JSON.stringify(data);
    },

    _minus: function (a, b) {
      return a - b;
    },

    _perc: function (price, specialP) {
      return Math.ceil(((price - specialP) / price) * 100);
    },

    _divide: function (a, b) {
      return a / b;
    },

    _invoiceHandler: function (type, value) {
      return ((value !== '0' || type === 'shipping') && type !== 'total_usd' && type !== 'grand_total') ? true : false;
    },

    _freeShippingDifference: function() {
      if (this.cartreview) {
        for (i = 0; i < this.cartreview.invoice_app.length; i++) {
          if (this.cartreview.invoice_app[i].type === 'total') {
            var total = this.cartreview.invoice_app[i].value / 100;
            this.shippingDifferenceRemaining = this.freeShippingMinSpend - total;
            if (this.shippingDifferenceRemaining > 0) {
              this.shippingDifferenceisFree = false;
              this.shippingDifferencePercentage = (total / this.freeShippingMinSpend) * 100;
            } else {
              this.shippingDifferenceisFree = true;
            }
            return;
          }
        }
      }
    },

    _shippingIsFree: function (type, value) {
      return (value === '0' && type === 'shipping') ? true : false;
    },

    _productImageLoaded: function (e) {
      e.target.classList.add('loaded');
    },

    _removeItem: function (e) {
      var el = e.target.parentNode; // Chrome, Webkit
      var index = el.getAttribute('i') || e.target.getAttribute('i');
      this.fire('remove-item', {
        item: {
          sku: el.getAttribute('data-sku') || e.target.getAttribute('data-sku'),
          vendor: this.cartproducts[index] && this.cartproducts[index].selectedSimple.selectedSupplier.vendor_code
        },
        product: this.cartproducts[index]
      });
    },

    _totalCost: function (invoice) {
      if (!invoice) { return; }
      for (i=0; i < invoice.length; i++) {
        if (invoice[i].type === 'total') {
          return this._divide(invoice[i].value, 100);
        }
      }
    },

    _isDiscount: function (type) {
      return type === 'discount' || type === 'wallet';
    },

    _toggle: function (event) {
      var node = event.currentTarget.getAttribute('collapse');
      this.querySelector(node).toggle();
      event.currentTarget.classList.toggle('opened');
    },

    _isSelectedQuantity: function (sku, option) {
        this.querySelector('select[data-sku="' + sku + '"]').value = this.cartreview.items[sku].quantity;
        return (this.cartreview.items && this.cartreview.items[sku].quantity == option) ? 'selected' : null;
    },

    _isTotal: function(type) {
      return type === 'total';
    },

    _citiesObserver: function(newVal, oldVal) {
      if (this.cartCity) {
        this.fire('custom-events', {
          "eventCategory": 'cart',
          "eventAction": 'change_city',
          "eventLabel": this.cartCity || '',
          "eventValue": ''
        });
        this.fire('change-city', { destination: this.cartCity });
      }
    },

    _changeCity: function() {
      this.showChangeCity = !this.showChangeCity;
    },

    _getDeliveryPromise: function(text, showChangeCity) {
      return text;
    },

    _getCityLabel: function(cartCity) {
      if (cartCity) {
        var cityLabel = this.citiesList.find(
          function(city) {
            return city.value.toLowerCase() === cartCity.toLowerCase();
          }
        );

        return cityLabel && cityLabel.label;
      }
    },

    _translate: function (key) {
      return window.translate(key);
    },

    _selectedQuantity: function (sku) {
      return (
        this.cartreview.items && 
        this.cartreview.items[sku] && 
        this.cartreview.items[sku].quantity
      ) ? this.cartreview.items[sku].quantity : null;
    }
  });

</script>
<dom-module id="coupon-code-element" assetpath="../../../shared/components/coupon-code-element/">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }
  </style>

  <template>
    <form novalidate="" onsubmit="return false;">
      <template is="dom-if" if="[[ !code ]]">
        <input is="iron-input" name="couponCode" type="text" placeholder="[[ _translate('Enter coupon/voucher') ]]" bind-value="{{ coupon }}" autocomplete="off">
        <button class="core-block-cta core-block-cta-tertiary" type="submit">[[ _translate('Apply') ]]<paper-ripple></paper-ripple></button>
      </template>
      <template is="dom-if" if="[[ code ]]">
        <span class="applied-coupon-code">[[ _translate('Coupon') ]]: <strong>[[ coupon ]]</strong></span>
        <button class="core-block-cta core-block-cta-support" on-tap="_removeCoupon" type="button">[[ _translate('Remove') ]]</button>
      </template>
    </form>
  </template>

</dom-module>

<script>

  Polymer({
    is: 'coupon-code-element',

    listeners: {
      'submit': '_handleSubmit'
    },

    properties: {

      code: {
        type: String,
        notify: true
      },

      /**
       * Application context
       */
      ctx: {
        type: Object
      }
    },

    // Element Lifecycle
    attached: function () {
      this.coupon = this.code;
    },

    _handleSubmit: function (event) {
      event.stopPropagation();
      if (event.type === 'submit' && this.coupon) {
        this.fire('apply-coupon', { code: this.coupon });
      }
    },

    _removeCoupon: function (event) {
      event.stopPropagation();
      this.fire('remove-coupon');
    },

    _translate: function (key) {
      return window.translate(key);
    }
  });

</script>
</div></body></html>