<html><head><meta charset="UTF-8"></head><body><div hidden="" by-vulcanize=""><dom-module id="facets-element" assetpath="../../../shared/components/facets-element/">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

    #menu + .scrim {
      position: fixed;
      top: 0; right: 0; bottom: 0; left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 40;
      opacity: 0;
      pointer-events: none;
      transition: opacity ease-in-out 0.4s;
    }

    #menu span.title {
      position: absolute;
      top: 30px;
      font-size: 12px;
      color: #333;
      text-align: center;
      display: block;
      width: 56px;
      pointer-events: none;
    }

    .facets-options {
      display: block;
    }

    #menu {
      opacity: 0;
      z-index: -1;
    }

    #menu.active {
      opacity: 1;
      bottom: 0;
      z-index: 79;
      transition: opacity 0.4s;
    }

    #menu.active li {
      border: 0;
    }
  </style>

  <template>
    <content id="content"></content>

    
    <template is="dom-if" if="[[ ctx.groceryApp ]]" restamp="">
      <template is="dom-if" if="[[ _isNotEmptyObject(categoryTree) ]]" restamp="">
        <div class="categories-container">
          <ul class="perfect-scrollbar">
            <template is="dom-repeat" items="[[ categoryTree ]]" as="category">
              <li>
                <a class="facet" href$="[[ _catSelected(category) ]]" title="[[ category.name ]]">
                  [[ category.name ]]
                </a>
                <paper-ripple></paper-ripple>
              </li>
            </template>
          </ul>
        </div>
      </template>
    </template>
    

    
    <template is="dom-if" if="[[!isMobile]]" restamp="">
      <div class="plp-sort-container">
        <p class="plp-option-label">[[ _translate('Sort By') ]]:</p>
        <li class="plp-sort-options plp-option-label">
          <div class="dropdown-element-container reverse">
            <span class="option">[[ _translate(selectedSort) ]]</span>
            <div class="dropdown-wrapper">
              <div class="dropdown-container">
                <ul class="dropdown-options">
                  <template is="dom-repeat" items="[[ filters ]]" as="option">
                    <li id="sort" on-click="_handleChange" data-type="[[ option ]]"><a class="option">[[ _translate(option) ]]</a></li>
                  </template>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </div>
    </template>
    <template is="dom-if" if="[[isMobile]]" restamp="">
      <div class="facet-controls">
        <div class="plp-sort-container">
          <select id="sort">
            <template is="dom-repeat" items="[[ filters ]]" as="option">
              <option value="[[ option ]]" selected="[[ _displayfilter(option) ]]">[[ _translate(option) ]]</option>
            </template>
          </select>
        </div>
        <a class="facets-trigger" on-click="_toggleFilterModal"></a>
        <template is="dom-if" if="[[ facets.express ]]">
          <div class="wadi-express-container">
            <span class="wadicon-express">[[ _translate('Express') ]]</span>
            <label class="switch" for="express">
              <input type="checkbox" id="express" on-click="_selectACheckboxfacet" value="1" name="express" checked$="[[ _isExpressSelected(selected.express) ]]">
              <span class="slider round"></span>
            </label>
          </div>
        </template>
      </div>
    </template>

    
    <template is="dom-if" if="[[ _isNotEmptyObject(selectedFacetOptions) ]]" restamp="">
      <div class="selected-facets-container">
        <ul class="perfect-scrollbar">
          <li><a class="clear-all" on-click="_resetFilters">[[ _translate('Reset All') ]]</a></li>
          <template is="dom-repeat" items="[[ _toArray(selectedFacetOptions) ]]" as="facetGroup">
            <template is="dom-repeat" items="[[ facetGroup.value ]]" as="facet">
              <li>
                <a class="facet" on-click="_removeFilter" data-facet="[[ facet ]]" data-group="[[ facetGroup.name ]]">
                  [[ _getFacetNameByKey(facet, facetGroup.name) ]]
                  <i class="wadicon-cancel"></i>
                  <paper-ripple></paper-ripple>
                </a>
              </li>
            </template>
          </template>
        </ul>
      </div>
    </template>
    



    
    <div id="facets-modal-wrapper" class$="oov-[[filterModalClosed]]">

      
      <template is="dom-if" if="[[isMobile]]" restamp="">
        <div class="facets-scrim"></div>
      </template>

      
      <div class="facets-modal">

        
        <template is="dom-if" if="[[isMobile]]" restamp="">
          <div class="facets-modal-header">
            <p class="modal-title">[[ _translate('Filter Products') ]] </p>
            <i class="wadicon-cancel facets-modal-close" on-click="_toggleFilterModal"></i>
          </div>
        </template>
        

        
        <div class="facets-body">
          <div class="facets-list">
            <template is="dom-if" if="[[!isMobile]]" restamp="">
              <template is="dom-if" if="[[ _isNotEmptyArray(categorytree) ]]">
                <plp-category-tree-element categorytree="[[ categorytree ]]" search="[[ search ]]"></plp-category-tree-element>
              </template>
            </template>
            <template id="renderFacets" is="dom-repeat" items="[[ facetList ]]" as="facet">
              <template is="dom-if" if="[[ _facetType(facet) ]]" id$="[[ facet ]]" class="facets-options" restamp="">
                <template is="dom-if" if="[[isMobile]]">
                  <a class="filter-category-heading" collapse$="#toggle[[facet]]" on-click="toggle">
                    [[ _getName(facet) ]] [[ _showFacetCount(facet) ]]
                    <template is="dom-if" if="[[_getSelectedFacetOptions(facet)]]">
                      <span class="active-facets">
                        <template is="dom-repeat" items="[[ _getSelectedFacetOptions(facet) ]]" as="facetItem">
                        <span>
                          [[ _getFacetNameByKey(facetItem, facet) ]]
                          <template is="dom-if" if="[[_isNotLastFilterItem(index, facet)]]">
                             ,&nbsp;
                          </template>
                        </span>
                        </template>
                      </span>
                    </template>
                  </a>
                </template>
                <template is="dom-if" if="[[!isMobile]]">
                  <p class="filter-category-heading">[[ _getName(facet) ]]</p>
                </template>
                [[ _renderFacetByType(facet) ]]
              </template>
            </template>
          </div>
        </div>

        
        <template is="dom-if" if="[[isMobile]]" restamp="">
          <div class="facets-cta-container">
            <button class="core-block-cta core-block-cta-lg cta-full-width" on-click="_applyFilters" disabled$="[[ disableFilterButtons ]]">
              [[ _translate('Apply Filters') ]] ([[ selectedFacetsCounter ]])
            </button>
          </div>
        </template>

      </div>
    </div>

  </template>
</dom-module>

<script>

  Polymer({
    is: 'facets-element',

    properties: {

      /**
       * Facets to be rendered onto the page
       */
      facets: {
        type: Object
      },

      /**
       * query params
       */
      query: {
        type: Object
      },

      search: {
        type: Object
      },

      /**
       * Selected Facets
       */
      selected: {
        type: Object
      },

      /**
       * Category Tree
       */
      categoryTree: {
        type: Object
      },

      /**
       * Options supported by carousel element
       */
      options: {
        type: Object
      },

      filterModalClosed: {
        type: Boolean,
        value: true
      },

      /**
       * Facets Types
       */
      // types: {
      //   type: Object
      // },

      ctx: {
        type: Object
      }
    },

    listeners: {
      'change': '_handleChange'
    },

    ready: function() {
      this.internals = {};
      this.internals.defaultOptions = {
        columnOptions: 1
      };

      this.filters = ['popularity' , 'new' , 'price-asc' , 'price-desc' , 'discount'];
      // Selected sort filter
      this.selectedSort = 'popularity';      
      this.disableFilterButtons = true;
      // Object to store selected facets
      this.selectedFacetOptions = {};
      // Object to selected but not applied facets
      this._tempSelectedFacetOptions = {};

      var _self = this;
      this.addEventListener('scroll', function () {
        _self._setPaperTabDisplay(document.getElementsByTagName('body')[0].scrollTop > 80);
      }, { passive: true });
    },

    attached: function () {
      this.isMobile = window.config.device === 'mobile';
      this.isEngish = this.ctx.lang === 'en';

      this.facetList = Object.keys(this.facets);
      // TODO - Hack to make category as first
      var catFacet = this.facetList.splice(this.facetList.indexOf('category'), 1);
      
      if (this.isMobile) {
        this.facetList.unshift(catFacet[0]);
      }

      this.selectedFacetOptions = JSON.parse(JSON.stringify(this.selected));
      this.disableFilterButtons = true;

      this._setFilterCount();
      this.selectedSort = this.search.sort.by;
      if (this.search.sort.by === 'price') {
        this.selectedSort = this.search.sort.by + '-' + this.search.sort.dir;
      }

      this.addEventListener('facet-filter', function (e) {
        e.stopPropagation();

        var facetName = e.detail.selected.name;
        this._tempSelectedFacetOptions[facetName] = [];
        var alreadySelectedKey = this.selectedFacetOptions[facetName] || [];
        this.selectedFacetOptions[facetName] = [];
        var _self = this;
        e.detail.selected.selected.map(function (key, index) {
          if (alreadySelectedKey.indexOf(key) < 0) {
            _self._tempSelectedFacetOptions[facetName].push(key);
          } else {
            _self.selectedFacetOptions[facetName].push(key);
          }
        });

        this._setFilterCount();
        if (this.isMobile) {
          this._tempSelectedFacetOptionsChanged(facetName);
        } else {
          this._applyFilters();
        }
      });

      var _self = this;
      if (!this.isMobile) {
        _self.debounce('dom-change', function () {
          // Perfect scrollbar initialized
          var perfectScrollbarNodes = _self.querySelectorAll('.perfect-scrollbar');
          for(var i = 0; i < perfectScrollbarNodes.length; i++) {
            // Ps.destroy(perfectScrollbarNodes[i]);
            Ps.initialize(perfectScrollbarNodes[i]);
          }
        }, 350);
      }
    },

    _tempSelectedFacetOptionsChanged : function (facet) {
      var selectedNode = this.querySelector('a[collapse="#toggle' + facet + '"]');
      if (selectedNode) {
        [].forEach.call(selectedNode.querySelectorAll('span.not.active-facets'), function(node) { node.parentNode.removeChild(node); });

        var inactive = document.createElement('span');
        inactive.className = 'not active-facets';
        var child = document.createElement('span');
        var name = [];
        var _self = this; // Safari hack
        this._tempSelectedFacetOptions[facet].map(function (item) { name.push(_self._getFacetNameByKey(item, facet)); });
        if (name.length > 0) {
          child.innerHTML = name.join(', ');
          inactive.appendChild(child);

          selectedNode.appendChild(inactive);
        }
      }
    },

    _getName: function (name) {
      // TODO - hack for category and is_express facet
      if (window.config.device === 'desktop' && (name === 'category' || name === 'express')) {
        return '';
      }

      return this.facets[name].name;
    },

    _displayfilter: function (ele) {
      // Get filter name
      ele = ele || ele.target.dataset.option;
      
      if (this.selectedSort === ele) {
        return 'selected';
      }

      return null;
    },

    _getQueryVariable: function (variable) {
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if( pair[0] == variable ) {
          return pair[1];
        }
      }
      return('popularity');
    },

    _getSelectedFacetOptions: function (facet) {
      return this.selectedFacetOptions[facet];
    },

    _setFilterCount: function () {
      this.selectedFacetsCounter = 0;
      for (var option in this._tempSelectedFacetOptions) {
        this.selectedFacetsCounter += this._tempSelectedFacetOptions[option].length;
      }
      for (var option in this.selectedFacetOptions) {
        this.selectedFacetsCounter += this.selectedFacetOptions[option].length;
      }

      this.disableFilterButtons = this.selectedFacetsCounter === 0 ? true : false;
    },

    // Open Filters
    _toggleFilterModal: function () {
      this.filterModalClosed = !this.filterModalClosed;
    },

    // Switch between grid and list view
    _switchView: function (event) {
      this.fire('switch-view', event);
    },

    _sortByPrice: function () {
      if (this.query['sort'] && this.query['sort'] === 'price') {
        this.query['dir'] = this.query['dir'] === 'asc' ? 'desc' : 'asc';
      } else {
        this.query['sort'] = 'price';
        this.query['dir'] = 'asc';
      }

      this._applyFilters();
    },

    toggle: function (event) {
      if (!event.currentTarget.getAttribute('collapse')) { return ; }

      this.querySelector(event.currentTarget.getAttribute('collapse')).toggle();
      event.currentTarget.classList.toggle('opened');
    },

    _isNotEmptyObject: function(obj) {
      return Object.keys(obj).length === 0 ? false : true;
    },

    _isNotEmptyArray: function(arr) {
      return !(arr && arr.length === 0);
    },

    _setPaperTabDisplay: function (condition) {
      this.showPaperTab = condition ? 'active' : '';
    },

    _facetType: function (facet) {
      if (this.facets && this.facets[facet] && this.facets[facet].data && this.facets[facet].data.length > 0) {
        return this.facets[facet].type;
      }

      return null;
    },

    _getFacetData: function (facet) {
      return this.facets[facet].data;
    },

    json: function (data) {
      return JSON.stringify(data);
    },

    _toArray: function(obj) {
      return Object.keys(obj).map(function(key) {
        return {
          name: key,
          value: obj[key]
        };
      });
    },

    _showFacetCount: function (facet) {
      return this.selected[facet] ? '(' + this.selected[facet].length + ')' : '';
    },

    // Method to render facet
    // New facet names should be created by convention - 'facets-element-<facetType>'
    // For e.g. facets-element-multiselect
    _renderFacetByType: function (facet) {

      if (this.isMobile && facet === 'express') { return; }

      var facetToggleArea = window.config.device === 'mobile' ? document.createElement('iron-collapse') : document.createElement('div');
      facetToggleArea.classList.add('filter-section');
      facetToggleArea.id = "toggle" + facet;

      var facetEl = document.createElement('facets-element-' + this._facetType(facet));
      facetEl.id = facet;
      facetEl.facetKey = facet;
      facetEl.facetList = this._getFacetData(facet);
      facetEl.selected = { "name": facet, "selected": this.selected[facet] ? JSON.parse(JSON.stringify(this.selected[facet])) : [] };
      facetEl.search = this.search;
      document.getElementById(facet).appendChild(facetToggleArea).appendChild(facetEl);

    },

    // Method to apply aggregated filter options
    _applyFilters: function () {
      // Assign temporarily selected filters to main object
      var _self = this; // Safari hack
      Object.keys(this._tempSelectedFacetOptions).map(function (key) {
        _self.selectedFacetOptions[key] = _self.selectedFacetOptions[key] || [];
        _self.selectedFacetOptions[key] = _self.selectedFacetOptions[key].concat(_self._tempSelectedFacetOptions[key]);
      });

      var categoryUrl = (this.search.category && (this.search.category.length > 0)) ? (this.search.category.join('--') + '/') : '';
      var searchKey = (this.search.searchKey && (this.search.searchKey.length > 0)) ? (this.search.searchKey.join('--') + '/') : '';
      var searchTerm = this.search.q ? ('s/' + this.search.q.trim().split(' ').join('-') + '/') : '';
      var url = searchTerm + categoryUrl + searchKey;
      var params = '';

      // Brands go into uri, so need to be parsed separately
      if (this.selectedFacetOptions['brand'] && this.selectedFacetOptions['brand'].length) {
        url = url + this.selectedFacetOptions['brand'].join('--');
        delete this.selectedFacetOptions['brand'];
      }
      // filters
      for (var key in this.selectedFacetOptions) {
        if (this.selectedFacetOptions[key].length) {
          params += '&' + key + '=' + this.selectedFacetOptions[key].join('--');
        }
      }

      // sort options
        for (var key in this.query) {
          if (!this.selectedFacetOptions.hasOwnProperty(key)) {
            params += '&' + key + '=' + this.query[key];
          }
      }
      url = url + ((params) ? params.replace('&', '?') : '');
      this.fire('redirect', { url: url });
      if (Object.keys(this._tempSelectedFacetOptions).length > 0) {
        this.fire('custom-events', {
          "eventCategory": 'apply_filter',
          "eventAction": Object.keys(this._tempSelectedFacetOptions)[0] || '',
          "eventLabel": Object.values(this._tempSelectedFacetOptions)[0][0] || '',
          "eventValue": ''
        });
      }
    },

    // Method to reset all filters
    _resetFilters: function () {
      this.set('selectedFacetOptions', {});
      this.set('query', {});
      this._applyFilters();
    },

    // Method to handle Sort Filter
    _handleChange: function (event) {
      /**
       * filter value
       */
      var value = (event.target) ? (event.target.dataType || event.target.value) : null;
    
      if (event.target.id === 'sort') {
        if (value === this.selectedSort) { return }

        switch (value) {
          case 'new':
            this.query.sort = 'new';
            delete this.query.dir;
            break;
          case 'popularity':
            delete this.query.sort;
            delete this.query.dir;
            break;
          case 'price-asc':
            this.query.sort = 'price';
            this.query.dir = 'asc';
            break;
          case 'price-desc':
            this.query.sort = 'price';
            delete this.query.dir;
            break;
          case 'discount':
            this.query.sort = 'discount';
            delete this.query.dir;
            break;
        }

        this._setFilterCount();
        
        if (this.selectedFacetsCounter === 0) {
          var url = window.location.pathname;
          var params = '';
          for (var key in this.query) {
            params += '&' + key + '=' + this.query[key];
          }
          url = url + ((params) ? params.replace('&', '?') : '');
          this.fire('redirect', { url: url });
        } else {
            this._applyFilters();
        }
        this.fire('custom-events', {
          "eventCategory": 'sort',
          "eventAction": this.selectedSort || '',
          "eventLabel": value || '',
          "eventValue": ''
        });
      }
    },

    // Get Facet name by passing facet key and it's group
    _getFacetNameByKey: function (key, facetGroup) {
      if (this.facets[facetGroup]) {
        var found = this.facets[facetGroup].data.find(function (d) { return d.key == key; });
        return found ? found.name : key;
      }
    },

    _removeFilter: function (event) {
      this.selectedFacetOptions[event.target.dataGroup].splice(event.model.index, 1);
      this._applyFilters();
    },

    _catSelected: function (cat) {
      var brand = this.search.brand || null;
      var searchKey = this.search.searchKey || null;
      var query = '/' + ((brand && brand.length > 0) ? (brand.join('--')  + '/') : '') + ((searchKey && searchKey.length > 0) ? (searchKey.join('/')) : '') + window.location.search;

      if (this.search.q) {
        var term = 's/' + this.search.q.trim().split(' ').join('-') + '/';
      }

      return '/' + (term || '') + cat.key + query;
    },

    _translate: function (key) {
      return window.translate(key);
    },

    _isNotLastFilterItem: function(index, items) {
      return (index + 1) === this._getSelectedFacetOptions(items).length ? false : true;
    },

    _selectACheckboxfacet: function (e) {
      if (e.target.checked) {
        this.selected.name = e.target.name;
        this.selected.selected = [e.target.value];
              
        this.fire('facet-filter', { selected: JSON.parse(JSON.stringify(this.selected)), src: e.target });
        this._applyFilters();
      } else {
        this.selected.selected = [];
        delete this.selectedFacetOptions.express;
        delete this.query.express;
        this._applyFilters();
      }
    },

    _isExpressSelected: function (param) {
      if (param) {
        return true;
      }

      return false;
    },

    // For filtering out custom facets i.e. express
    _filterFacet: function (facet) {
      if (this.isMobile && (facet === 'express')) {
        return false;
      }

      return true;
    }
  });

</script>


<dom-module id="facets-element-multiselect" assetpath="../../../shared/components/facets-element/">
  <template>
    <template is="dom-if" if="[[_isBrand(facetKey)]]">
      <div class="search-container">
        <div class="input-container">
          <input type="text" placeholder="[[ _translate('Search Brands') ]]" value="{{ filterVal::input }}">
          <template is="dom-if" if="[[ filterVal.length ]]">
            <a on-tap="_clearField" class="field-clear"><i class="wadicon-cancel"></i></a>
          </template>
        </div>
      </div>
    </template>
    <ul class="perfect-scrollbar">
      <template is="dom-repeat" items="[[ facetList ]]" as="obj" filter="[[ _filter(filterVal) ]]">
        <li>
          <div class="custom-checkbox-container">
            <label for$="facet-[[ obj.key ]]" class$="custom-checkbox-label [[ _isActive(obj.key) ]]">
              <input id$="facet-[[ obj.key ]]" type="checkbox" value="[[ obj.key ]]" checked$="[[ _isChecked(obj.key) ]]" on-click="_selectAMultifacet">
              <span class="label-text">[[ obj.name ]] <span class="count">([[ obj.count ]])</span></span>
              <div class="check-indicator"></div>
            </label>
          </div>
        </li>
      </template>
    </ul>
  </template>
</dom-module>

<script>
  Polymer({

    is: 'facets-element-multiselect',

    properties: {
      facetList: {
        type: Object
      },
      facetKey: '',
      selected: {
        type: Object
      }
    },

    _isBrand: function (facet) {
      return facet === 'brand' ? true : false;
    },

    _clearField: function() {
      this.set('filterVal', '');
    },

    _filter: function(val) {
      return function(item) {
        if (!val) return true;
        if (!item) return false;
        return (item.name && ~item.name.toLowerCase().indexOf(val.toLowerCase()));
      };
    },

    _selectAMultifacet: function (e) {
      if (e.target.checked) {
        e.target.parentNode.classList.add('active');
        this.selected.selected.push(e.target.value);
      } else {
        e.target.parentNode.classList.remove('active');
        this.selected.selected.splice(this.selected.selected.indexOf(e.target.value), 1);
      }

      this.fire('facet-filter', { selected: JSON.parse(JSON.stringify(this.selected)), src: e.target });
    },

    _isChecked: function (key) {
      return this.selected.selected.indexOf(key) >= 0;
    },

    _isActive: function (key) {
      return this.selected.selected.indexOf(key) >= 0 ? 'active' : '';
    },

    _translate: function (key) {
      return window.translate(key);
    }
  });
</script>


<dom-module id="facets-element-links" assetpath="../../../shared/components/facets-element/">
  <template>
    <ul class="perfect-scrollbar">
      <template is="dom-repeat" items="[[ facetList ]]" as="obj">
        <li>
          <a href$="/[[_getSearchTerm(search.q)]][[ obj.key ]][[ searchQuery ]]" title="[[ obj.name ]]">[[ obj.name ]]</a>
        </li>
      </template>
    </ul>
  </template>
</dom-module>

<script>
  Polymer({

    is: 'facets-element-links',

    properties: {
      facetList: {
        type: Object
      },
      facetKey: '',
      selected: {
        type: Object
      },

      searchQuery: {
        type: String,
        value: ''
      },

      search: {
        type: Object,
        value: {}
      }
    },

    attached: function () {
      if (this.search) {
        var brand = this.search.brand || null;
        var searchKey = this.search.searchKey || null;
        var url = '/' + ((brand && brand.length > 0) ? (brand.join('--')  + '/') : '') + ((searchKey && searchKey.length > 0) ? (searchKey.join('/')) : '') + window.location.search;
        this.set('searchQuery', url);
      }
    },

    _getSearchTerm: function(term) {
      if (term) {
        return 's/' +term.trim().split(' ').join('-') + '/';
      }

      return '';
    }
  });
</script>


<dom-module id="facets-element-singleselect" assetpath="../../../shared/components/facets-element/">
  <template>
    <ul class="perfect-scrollbar">
      <template is="dom-repeat" items="[[ facetList ]]" as="obj">
        <li>
          <div class="custom-checkbox-container">
            <label for$="facet-[[ obj.key ]]" class$="custom-checkbox-label [[ _isActive(obj.key) ]]">
              <input type="checkbox" id$="facet-[[ obj.key ]]" value="[[ obj.key ]]" on-click="_selectACheckboxfacet" checked$="[[ _isChecked(obj.key) ]]">
              <template is="dom-if" if="[[ !is_express ]]">
                <span class="label-text">[[ obj.name ]] <span class="count">([[ obj.count ]])</span></span>
              </template>
              <template is="dom-if" if="[[ is_express ]]">
                <div class="wadi-express-container">
                  <span class="wadicon-express">[[ _translate('Express') ]]</span>
                </div>
              </template>
              <div class="check-indicator"></div>
            </label>
          </div>
        </li>
      </template>
    </ul>
  </template>
</dom-module>

<script>
  Polymer({

    is: 'facets-element-singleselect',

    properties: {
      facetList: {
        type: Object
      },
      facetKey: '',
      selected: {
        type: Object
      }
    },

    attached: function() {
      this.is_express = false;
      if (this.facetKey === 'express') {
        this.is_express = true;
      }
    },

    _selectACheckboxfacet: function (e) {
      if (e.target.checked) {
        e.target.parentNode.classList.add('active');
        this.selected.selected = [e.target.value];
      } else {
        e.target.parentNode.classList.remove('active');
        this.selected.selected = [];
      }

      this.fire('facet-filter', { selected: JSON.parse(JSON.stringify(this.selected)), src: e.target });
    },

    _isChecked: function (key) {
      return this.selected.selected.indexOf(key.toString()) >= 0;
    },

    _isActive: function (key) {
      return this.selected.selected.indexOf(key.toString()) >= 0 ? 'active' : '';
    },

    _translate: function (key) {
      return window.translate(key);
    }
  });
</script>


<dom-module id="facets-element-range" assetpath="../../../shared/components/facets-element/">
  <template>
    <template is="dom-if" if="[[_isBrand(facetKey)]]">
      <div class="search-container">
        <div class="input-container">
          <input type="text" placeholder="[[ _translate('Search Brands') ]]" value="{{ filterVal::input }}">
          <template is="dom-if" if="[[ filterVal.length ]]">
            <a on-tap="_clearField" class="field-clear"><i class="wadicon-cancel"></i></a>
          </template>
        </div>
      </div>
    </template>
    <ul class="perfect-scrollbar">
      <template is="dom-repeat" items="[[ facetList ]]" as="obj" filter="[[ _filter(filterVal) ]]">
        <li>
          <div class="custom-checkbox-container">
            <label for$="facet-[[ obj.key ]]" class$="custom-checkbox-label [[ _isActive(obj.key) ]]">
              <input id$="facet-[[ obj.key ]]" type="checkbox" value="[[ obj.key ]]" checked$="[[ _isChecked(obj.key) ]]" on-click="_selectAMultifacet">
              <span class="label-text">[[ obj.name ]] <span class="count">([[ obj.count ]])</span></span>
              <div class="check-indicator"></div>
            </label>
          </div>
        </li>
      </template>
    </ul>
  </template>
</dom-module>

<script>
  Polymer({

    is: 'facets-element-range',

    properties: {
      facetList: {
        type: Object
      },
      facetKey: '',
      selected: {
        type: Object
      }
    },

    _isBrand: function (facet) {
      return facet === 'brand' ? true : false;
    },

    _clearField: function() {
      this.set('filterVal', '');
    },

    _filter: function(val) {
      return function(item) {
        if (!val) return true;
        if (!item) return false;
        return (item.name && ~item.name.toLowerCase().indexOf(val.toLowerCase()));
      };
    },

    _selectAMultifacet: function (e) {
      if (e.target.checked) {
        e.target.parentNode.classList.add('active');
        this.selected.selected.push(e.target.value);
      } else {
        e.target.parentNode.classList.remove('active');
        this.selected.selected.splice(this.selected.selected.indexOf(e.target.value), 1);
      }

      this.fire('facet-filter', { selected: JSON.parse(JSON.stringify(this.selected)), src: e.target });
    },

    _isChecked: function (key) {
      return this.selected.selected.indexOf(key) >= 0;
    },

    _isActive: function (key) {
      return this.selected.selected.indexOf(key) >= 0 ? 'active' : '';
    },

    _translate: function (key) {
      return window.translate(key);
    }
  });
</script><dom-module id="products-listing-element" assetpath="../../../shared/components/products-listing-element/">

    <style>
      :host {
        display: block;
        box-sizing: border-box;
      }
    </style>
  
    <template>
      
      <header class="plp-header">
        <div class="plp-options-container">
  
          <div class="plp-switch-view-container">
            <p class="plp-option-label" hidden$="[[isMobile]]">[[ _translate('View') ]]:</p>
            <i class="wadicon-rows switch-view" view="list"></i>
            <i class="wadicon-grid switch-view active" view="grid"></i>
          </div>
        </div>
        <breadcrumb-element list$="[[ breadcrumbs ]]"></breadcrumb-element>
        <template is="dom-if" if="[[ !search.q ]]">
          <h1>[[pagetitle]] <span>([[totalcount]] [[_translate('Items')]])‎</span></h1>
        </template>
        <template is="dom-if" if="[[ search.q ]]">
          <h1><span>([[totalcount]] [[_translate('Items')]])</span> [[ _translate('for') ]] '[[ search.q ]]'</h1>
        </template>
      </header>
  
      <info-element content="[[ seoContent ]]" showtitle="false" ctx="[[ ctx ]]"></info-element>
  
      <div class="product-listings-container" id="product-listings-container">
        <ul class="core-product-listing grid-row">
          <template is="dom-repeat" items="[[ listing ]]" as="product">
            <li class$="[[ columnClass ]] product-[[index]]">
              <a title$="[[ product.name ]]" class$="plp-link out-of-stock-[[ _isOOS(product.visible) ]]" href$="/[[ product.link ]]">
                <div class="image-dots-box">
                  <template is="dom-if" if="[[!isMobile]]">
                    <ul class="image-dots">
                      <template is="dom-repeat" items="[[ _productImagesKeys(product.maxImages) ]]" as="imageDots">
                        <li class$="[[ _activeFirstDot(index) ]]">.</li>
                      </template>  
                    </ul>
                  </template>  
                  <div class="plp-image-container">
                    <img lazy-src$="[[ _getProductImage(product.maxImages, product.imageKey) ]]" on-load="_imgLoaded" on-click="_onClick" on-mouseenter="_getProductAllImages" on-mouseout="_stopCounter" alt="[[ product.name ]]" sku="[[ product.sku ]]" key="[[ product.imageKey ]]" index$="[[ index ]]" position$="[[ index ]]">
                    
                    <div class="core-product-image-preloader">
                      
                    </div>
                    <template is="dom-if" if="[[ _isOOS(product.visible) ]]">
                      <p class="core-product-badge out-of-stock"><span>[[_translate('Out Of Stock')]]</span></p>
                    </template>
    
                    <template is="dom-if" if="[[ !_isOOS(product.visible) ]]">
    
                      <template is="dom-if" if="[[ _hasDiscount(product.price, product.offerPrice) ]]">
                        <p class="discount-tag">[[ product.discount ]]% [[ _translate('off') ]]</p>
                      </template>
    
                      
                      <template is="dom-repeat" items="{{ product.badges }}" as="badge">
                        <p class$="core-product-badge promo-badge {{badge}}">{{badge}}</p>
                      </template>
    
                      
                      <template is="dom-if" if="[[product.ribbon]]">
                        <p class="product-tag">[[product.ribbon.name]]</p>
                      </template>
    
                      
                      <template is="dom-if" if="[[ product.flash ]]" restamp="">
                        <template is="dom-if" if="[[ !product.ribbon.name ]]" restamp="">
                          <p class="product-tag attention">[[ _translate('Flash Sale') ]]</p>
                        </template>
                        <timer-element end="[[ product.flash.endAt ]]" total-qty="[[ product.flash.totQty ]]" available-qty="[[ product.flash.availableQty ]]"></timer-element>
                      </template>
                    </template>
    
                  </div>
                </div>

  
                <div class="plp-details-container">
                  <p class="plp-name">[[ product.name ]]</p>
                  <template is="dom-if" if="[[product.highlights.length]]" restamp="">
                    <template is="dom-if" if="[[isRowView]]">
                      <ul class="highlights">
                        <template is="dom-repeat" items="[[product.highlights]]" as="highlight">
                          <li>[[ highlight ]]</li>
                        </template>
                      </ul>
                    </template>            
                  </template>
  
  
                  <div class="price-section">
                    
                    <template is="dom-if" if="{{!_isOOS(product.visible)}}">
                      
                      <template is="dom-if" if="[[ _hasDiscount(product.price, product.offerPrice) ]]">
                        <p class="core-product-price plp-price">
                          <span class="pre-reduction">[[ product.price ]] [[ ctx.currency ]]</span>
                          <span class="selling-price">[[ product.offerPrice ]] [[ ctx.currency ]]</span>
                        </p>
                      </template>
                      
                      <template is="dom-if" if="[[ !_hasDiscount(product.price, product.offerPrice) ]]">
                        <p class="core-product-price plp-price">
                          <span class="selling-price">[[ product.price ]] [[ ctx.currency ]]</span>
                        </p>
                      </template>
                    </template>
                    
  
                    
                    <template is="dom-if" if="[[!isMobile]]" restamp="">
                      <template is="dom-if" if="[[isRowView]]">
                        <div class="supplier-additional-info">
                          <p class="shipping">[[ product.simples.0.suppliers.0.delivery_info ]]</p>
                          <p class$="warranty [[ _hasWarranty(product.simples.0.suppliers.0.warranty_period) ]]">[[ product.simples.0.suppliers.0.warranty_period ]]</p>
                        </div>
                      </template>
                    </template>
                    
  
                    
                    <template is="dom-if" if="[[ product.is_express ]]">
                      <div class="wadi-express-container">
                        <p class="wadicon-express">
                          [[ _translate('Express')]]
                        </p>
                      </div>
                    </template>
                    
                  </div>
                </div>
              </a>

              <template is="dom-if" if="[[!isMobile]]">
                <div class="show-options">
                  <template is="dom-if" if="[[ _hasSizes(product.sizes) ]]" restamp="">
                    <ul class="prod-sizes">
                      <span>[[ _translate('Sizes') ]]: </span>
                      <div class="list-holder">
                        <template is="dom-repeat" items="[[ _getMoreSize(product.sizes) ]]" as="imageSizes">
                          <li class="size-look"><a href$="/[[product.link]]/?size=[[imageSizes]]">[[ imageSizes ]]</a></li>
                        </template>
                        <template is="dom-if" if="[[ _getMoreSizeOptions(product.sizes) ]]">
                          <span><a href$="/[[product.link]]">[[ _getMoreSizeOptions(product.sizes) ]] [[ _translate('more') ]]</a></span>
                        </template>
                      </div>
                    </ul>
                  </template>
                  
                  <template is="dom-if" if="[[ _hasColors(product.groups) ]]">
                    <ul class="prod-sizes">
                      <span>[[ _translate('Color') ]]:</span>
                      <div class="list-holder">                      
                        <template is="dom-repeat" items="[[ _getColorOptions(product.groups.color) ]]" as="imageColors">
                          <li>
                            <a href$="/[[ imageColors.link ]]">
                              <img src$="[[ _getVariantImageKey(imageColors.imageKey) ]]">
                            </a>
                          </li>
                        </template>
                        <template is="dom-if" if="[[ _getMoreColorsCount(product.groups.color) ]]">
                          <span><a href$="/[[product.link]]">[[ _getMoreColorsCount(product.groups.color) ]] [[ _translate('more') ]]</a></span>
                        </template>
                      </div>  
                    </ul>
                  </template>
                </div>
              </template>
              
              <template is="dom-if" if="[[!isMobile]]" restamp="">
                <template is="dom-if" if="[[isRowView]]">
                  <div class="cta-container align-flex-end">
                    <template is="dom-if" if="[[!_hasVariations(product)]]" restamp="">
                      <cart-button-element item$="[[_addToCartProduct(product.simples.0.suppliers.0.sku, product)]]" selected-sku="[[product.simples.0.suppliers.0.sku]]" options="{ &quot;className&quot;: &quot;core-block-cta cta-full-width&quot; }"></cart-button-element>
                      <cart-button-element item$="[[_addToCartProduct(product.simples.0.suppliers.0.sku, product)]]" selected-sku="[[product.simples.0.suppliers.0.sku]]" options="{ &quot;redirect&quot;: true, &quot;className&quot;: &quot;core-block-cta core-block-cta-secondary cta-full-width&quot; }"></cart-button-element>
                    </template>
                    <template is="dom-if" if="[[_hasVariations(product)]]" restamp="">
                      <a class="core-block-cta cta-container-support core-block-cta-tertiary" href$="[[ product.link ]]" index$="[[ i ]]">[[ _translate('View Details') ]]
                      </a>
                    </template>
                  </div>
                </template>
              </template>
              
              
            </li>
          </template>
        </ul>
        <template is="dom-if" if="[[ !_isEndOfListings(pageNo, pageslength) ]]" restamp="">
          <div class="products-loader" id="more-products-loader"><i class="wadicon-spinner wadicon-spin"></i></div>
          
        </template>
        <template is="dom-if" if="[[ _isEndOfListings(pageNo, pageslength) ]]">
          <div class="products-loader"><p>[[ _translate('There are no more products to load.') ]]</p></div>
        </template>
      </div>
    </template>
  </dom-module>
  
  <script>
  
    Polymer({
      is: 'products-listing-element',
  
      properties: {
  
        /**
         * Products array that needs to be displayed to UI
         */
        listing: {
          type: Object,
          observer: '_listingUpdated'
        },

        banners: {
          type: Object,
        },
  
        seoContent: {
          type: String,
        },
  
        /**
         * Breadcrumbs
         */
        breadcrumbs: {
          type: Array
        },
  
        /**
         * Options supported by carousel element
         */
        options: {
          type: Object
        },
  
        /**
         * Listings title
         */
        pagetitle: {
          type: String
        },
  
        /**
         * Search Term
         */
        search: {
          type: Object
        },
  
        /**
         * application context
         */
        ctx: {
          type: Object
        },
  
        alreadyLoading: {
          type: Boolean,
          value: false
        },

        productImages: {
          type: Array,
          value: [1,2,3,4]
        }
      },
  
      listeners: {
        'click': '_handleToggle'
      },
  
      ready: function() {
        this.internals = {};
        this.internals.defaultOptions = {
          columnOptions: 1
        };
  
        var _self = this;
        document.addEventListener('switch-view', function (e) {
          _self._handleToggle.call(_self, e);
        });
      },
  
      attached: function () {
        // console.log('listing: ', this.listing);
        // console.log('ctx: ', this.ctx);
        // console.log('options: ', this.options);
        this.search = this.search || {};
        // Merge default option with element input options
        Object.assign(this.internals.defaultOptions, this.options);
  
        this.pagetitle = this.pagetitle || this._translate('Results');
        this.pageNo = 1;
        this.isMobile = window.config.device === 'mobile' ? true : false;
        this.initialCols = this.options.columnOptions;
        this._computeClass();
        this._computeProductView();
  
        this.sourceUrl = window.location.pathname;
        var _self = this;
        this.scrollListener = window.addEventListener('scroll', function (e) {
            _self._loadMoreData();
        }, { passive: true });
      },
  
      _hasDiscount: function (price, special) {
        return price > special;
      },
  
      _imgLoaded: function (event) {
        this._onLazyImageReady(event.target);
      },
  
      _onLazyImageReady: function (image) {
        var index = parseInt(image.getAttribute('position'));
        this.fire('impressions-listing', {
          "product": this.listing[index],
          "list": this.sourceUrl,
          "position": index + 1
        });
      },
  
      _onClick: function (event) {
        index = parseInt(event.target.getAttribute('position'));
        this.fire('product-click', {
          "product": this.listing[index],
          "list": this.sourceUrl,
          "position": index + 1
        });
      },
  
      _isOOS: function (visibility) {
        return visibility === 1 ? false : true;
      },

      _getMoreSize: function (size) {

        if (!size) {
          return;
        }
        
        if (size.length > 4) {
          return size.slice(0 , 4);
        }
        return size;
      },

      _getMoreSizeOptions: function (size) {
        if (!size) {
          return;
        }
        if (size.length > 4 ) {
          return size.length - 4;
        } else {
          return;
        }
        
      },

      _getColorOptions: function (colors) {
        if (!colors) {
          return;
        }
        if (colors.length > 4) {
          var returnColors = colors.slice(0 , 4);
          return returnColors;
        }
        return colors;
      },

      _getMoreColorsCount: function (colors) {
        if (!colors) {
          return;
        }
        if (colors.length > 4 ) {
          return colors.length - 4;
        } else {
          return;
        }
      },
  
      _computeDiscount: function (product) {
        return (product.price - product.offerPrice);
      },
  
      _handleToggle: function (e) {
        // Switch View event
        if(e.target.className.indexOf('switch-view') >= 0) {
          this.fire('custom-events', {
            "eventCategory": 'top_menu',
            "eventAction": 'options',
            "eventLabel": e.target.getAttribute('view') + '_view',
            "eventValue": ''
          });
          this.set('options.columnOptions', (e.target.getAttribute('view') === 'list') ? 1 : this.initialCols);
          this._computeClass();
          this._computeProductView();
          // add and remove active class from switches
          Array.prototype.filter.call(e.target.parentNode.children, function (child) {
            child.classList.remove('active');
          });
          e.target.classList.add('active');
        }
        if (e.type === 'switch-view') {
          this.set('options.columnOptions', (this.options.columnOptions !== this.initialCols) ? this.initialCols : 1);
          this._computeClass();
          this._computeProductView();
        }
        
      },
  
      _isEndOfListings: function (currPage, totalPages) {
        return currPage < totalPages ? false : true;
      },
  
      /**
       * Change bootstrap class as per user specified No. of columns
       */
      _computeClass: function () {
        var numColumn = this.options['columnOptions'];
        var realColumn = Math.floor(100 / numColumn);
  
        this.columnClass = 'grid-column column-percent-' + realColumn;
      },
  
      // TODO - create global function
      _getProductImage: function (numImages, key) {
        var type = this.isMobile ? 'catalog' : 'product';
  
        return (numImages && numImages > 0) ? 'https://' + this.ctx.cdn + '/product/' + key + '/1-' + type + '.jpg' : '/dist/images/product-default-catalog-v2-' + this.ctx.lang + '.png';
      },

      _getVariantImageKey: function (key,index) {
        index = index || '1';
        var type = this.isMobile ? 'catalog' : 'product';
        return 'https://' + this.ctx.cdn + '/product/' + key + '/' + index + '-' + type + '.jpg';
      },

      _productImagesKeys: function(numImages) {
        return new Array (Math.min(numImages,numImages = 4));
      },

      _activeFirstDot: function(index) {
        return index === 0 ? 'active' : ''
      },

      _getProductAllImages: function (e) {
        if (this.isMobile) {
          return
        }
        var _self = this;
        var index = e.target.getAttribute('index');
        var type = this.isMobile ? 'catalog' : 'product';

        var counter = 1, maxI = Math.min(this.listing[index].maxImages, 4);
        var dots = this.querySelectorAll('#product-listings-container .product-' + index + ' .image-dots li');

        this.setI = window.setInterval(function () {
          if(dots[counter - 1]) {
            dots[counter - 1].classList.remove('active');
          }

          dots[maxI-1].classList.remove('active');
          dots[counter].classList.add('active');
          counter++;
          var imgSrc = 'https://' + _self.ctx.cdn + '/product/' + _self.listing[index].imageKey + '/'  + counter + '-' + type + '.jpg';
          e.target.src = imgSrc;
          if (counter === maxI) {
            counter = 0;
          }
        }, 1500);
      },

      _stopCounter: function (e) {
        if (this.isMobile) {
          return
        }
        window.clearInterval(this.setI);

        var index = e.target.getAttribute('index');
        var type = this.isMobile ? 'catalog' : 'product';
        var imgSrc = 'https://' + this.ctx.cdn + '/product/' + this.listing[index].imageKey + '/'  + 1 + '-' + type + '.jpg';
        e.target.src = imgSrc;

        var dots = this.querySelectorAll('#product-listings-container .product-' + index + ' .image-dots li');
       
        dots.forEach(function(item, index){
          if (index === 0) {
            item.classList.add('active');
          } else {
            item.classList.remove('active');
          }
        });
      },

      // IS THE VIEW ROW?
      _computeProductView: function () {
        this.isRowView = (this.options.columnOptions === 1) ? true : false;
      },
  
      // Determine if an element is in the visible viewport
      _isInViewport: function (element) {
        if (!element) { return false; }
        
        var rect = element.getBoundingClientRect();
        var html = document.documentElement;
        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || html.clientHeight) &&
          rect.right <= (window.innerWidth || html.clientWidth)
        );
      },
  
      _loadMoreData: function () {
        if (this.alreadyLoading) { return; }
  
        if (this._isInViewport(this.querySelector('#more-products-loader'))) {
          this.alreadyLoading = true;
          this.fire('load-more-products', { pageNo: this.pageNo, listing: this.listing});
        }
      },
  
      _listingUpdated: function (val) {
        if (this.querySelector('#scrollThreshold')) {
          this.querySelector('#scrollThreshold').clearTriggers();
        }
      },
  
      _translate: function (key) {
        return window.translate(key);
      },
  
      _addToCartProduct: function(sku, item) {
        var json = {
          'sku': null,
          'vendor': null,
          'price': null,
          'simple': null,
          'name': null,
          'brand': null,
          'category': null,
          'visible': null,
          'imageUrl': null
        };

        json.name = item.name;
        json.brand = (item.brand) ? item.brand.name : null;
        json.category = item.category && item.category.replace(/-/g, '/');
        json.visible = item.visible;
        json.imageUrl = this._getProductImage(item.maxImages, item.imageKey);
  
        if (sku) {
          json.sku = sku;
          var found = item.simples.find(function (d) { return d.sku === sku; });
          json.simple = found;
          if (found.suppliers && found.suppliers.length > 0) {
            json.vendor = found.suppliers[0].vendor_code;
            json.price = found.suppliers[0].specialPrice || found.suppliers[0].price;
          }
  
          return json;
        }
  
        json.sku = item.simples[0].sku;
        json.vendor = (item.simples[0].suppliers && item.simples[0].suppliers.length) ? item.simples[0].suppliers[0].vendor_code : undefined;
        json.price = (item.simples[0].suppliers && item.simples[0].suppliers.length) ? item.simples[0].suppliers[0].specialPrice || item.simples[0].suppliers[0].price : item.offerofferPrice || item.price;
  
        return json;
      },
  
      _hasVariations: function (product) {
        return product.sizes.length > 1;
      },

      _hasSizes: function (sizes) {
        var i = sizes.indexOf('OS');
        if (i >= 0) {
          sizes.splice(i , 1);
        }

        return sizes.length > 0;
      },

      _hasColors: function (groups) {
        return groups.color && groups.color.length > 0;
      },
  
      _getLowerThreshold: function (param) {
        var offset = function (el) {
          var rect = el.getBoundingClientRect(),
          scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
          scrollTop = window.pageYOffset || document.documentElement.scrollTop;
          return { bottom: rect.bottom + scrollTop }
        };
  
        return offset(this).bottom;
      },
  
      _getShippingTime: function (min, max) {
        return min == 0 ? max : min + ' - ' + max;
      },

      _hasWarranty: function (warranty_period) {
        return !warranty_period ? 'no-content': '';
      },

      detached: function () {
        window.removeEventListener('scroll', this.scrollListener);
      }

    });
  
  </script>
<dom-module id="no-product-results-element" assetpath="../../../shared/components/no-product-results-element/">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }
  </style>

  <template>
    <div class="no-products-container">
      <h1>[[_translate('No Products Found')]]</h1>
      <p>[[_translate('There are no products here')]] :(<br>[[_translate('Would you like to try and search again?')]]</p>
    </div>
  </template>

</dom-module>

<script>

  Polymer({
    is: 'no-product-results-element',

    _translate: function (key) {
      return window.translate(key);
    }
  });

</script>
</div></body></html>